<!-- <div class="lgpd" style="display: none;"> -->
<div class="lgpd">
	<div class="content">
		<p>Utilizamos cookies essenciais e tecnologias semelhantes de acordo com a nossa <a href="{{ url('politica-de-privacidade') }}">Política de Privacidade</a> e <a href="{{ url('termos-de-uso') }}">Termos de Uso</a> e, ao continuar navegando, você concorda com estas condições.</p>

		<a href="javascript:void()" onclick="accept();" class="btn">OK</a>
	</div>
</div>

<style>
	.lgpd {
		position: fixed !important;
		padding: 20px;
		width: 100%;
		bottom: 0;
		z-index: 99999;
	}

	.lgpd .content {
		width: 100%;
		margin: auto;
		font-size: 13px;
		background: rgba(0,0,0,.8);
		color: #fff;
		display: flex;
		justify-content: space-around;		
	}

	.lgpd .content p {
		display: inline-block;
		padding: 15px 5px;
		margin: 0;
	}

	.lgpd .content a {
		color: #fff;
		text-decoration: underline;
		display: inline-block;
	}

	.lgpd .content .btn {
		text-decoration: none;
		background: #fff;
		border-radius: 0;
		color: #333;
		font-weight: bold;
		font-size: 16px;
		height: 27px;
		margin: 12px 10px;
		padding: 0px 30px;
		opacity: .6;
	}

	@media screen and (max-width: 991px) {

		.lgpd {
			padding: 10px;
		}

		.lgpd .content {
			text-align: center; 
			display: block;	
			font-size: 12px;
		} 

		.lgpd .content p {
			padding: 10px;
		}

		.lgpd .content .btn {
			margin: 5px 5px 10px 5px;
		}
	}
</style>

<script>
	/*$(document).ready(function(){
		if (! getCookie('lgpd_allow')) {
			$('.lgpd').show();	
		}
	});*/

	function setCookie(cname, cvalue, exdays) {
	  var d = new Date();
	  d.setTime(d.getTime() + (exdays*24*60*60*1000));
	  var expires = "expires="+ d.toUTCString();
	  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}

	function getCookie(cname) {
	  var name = cname + "=";
	  var decodedCookie = decodeURIComponent(document.cookie);
	  var ca = decodedCookie.split(';');
	  for(var i = 0; i <ca.length; i++) {
	    var c = ca[i];
	    while (c.charAt(0) == ' ') {
	      c = c.substring(1);
	    }
	    if (c.indexOf(name) == 0) {
	      return c.substring(name.length, c.length);
	    }
	  }
	  return "";
	}

	function accept() {
		setCookie('lgpd_allow', true, 360);
		$('.lgpd').hide();
	}
</script>